@import 'tailwindcss';

@theme {
  --font-display: 'Bricolage Grotesque', sans-serif;
  --font-body: 'Hanken Grotesk', sans-serif;
  --font-serif: 'Spectral', serif;
  --font-mark: 'Marcellus', serif;
}
